/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.vote-info {
  .state {
    .state-wrapper {
      max-width: 1160px;
      padding: 0 60px 0 15px;
    }
    .action-info {
      text-align: center;
    }
    .ui-btn {
      display: inline-block;
    }
  }
}
