/******************************************************************
Site Name: VoteForBernie.org
Author: Jon Hughes, validatorian.com

Stylesheet: Base Mobile Stylesheet

******************************************************************/


// Container styles
.container {
  background: $light-gray url(images/paper-dark.jpg);
}

// Loading Styles

.wf-loading {
  background: $light-gray url(images/svg/loading.svg) no-repeat 50% 50%;
  background-size: contain;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
}

.wf-active {
  @include transition(opacity 0.14s ease-in-out);
}


// GENERAL STYLES

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: $bodyFont;
  font-size: 100%;
  line-height: 1.5;

}

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
  .date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
  .search-results {}              /* search result page */
  .search-no-results {}           /* no results search page */
  .search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
  .postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
  .single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
  .attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
  .attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
  .author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
  .author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
  .category-1 {}                  /* individual category page (i.e. body.category-6) */
  .category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
  .tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
  .tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
  .page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
  .page-paged-1 {}                /* replace the number to the corresponding page number */
  .page-parent {}                 /* parent page template */
  .page-child {}                  /* child page template */
  .parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
  .paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  margin: 0 auto;
  max-width: 95%;
}

img {
  max-width: 100%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
    @include transition(color 0.14s ease-in-out);
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: $accentFont;
  font-weight: 400;
  text-rendering: optimizelegibility;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3, .h3 {
  font-size: 1.125em;
}

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5, .h5 {
  font-size: 0.846em;
  letter-spacing: 2px;
  line-height: 2.09em;
  text-transform: uppercase;
}

/*********************
HEADER STYLES
*********************/

.action-bar {
  background-color: $light-gray;
  font-size: 0.9em;
  margin: 0;
  padding: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  strong {
    color: $open;
  }
  a {
    background-color: $open;
    border-radius: 3px;
    color: $white;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 5px;
    padding: 2px 5px;
    text-decoration: none;
  }
}

.fb-like {
  bottom: -25px;
  left: 0;
  opacity: 0;
  position: absolute!important;
  right: 0;
}

.branding {
  ul {
    margin: 0;
    // text-align: center;
    li {
      // display: inline-block;
      display: block;
      // padding: 10px 20px 0;
      a {
        color: $open;
        font-family: $headerFont;
        // font-size: 24px;
        font-size: 18px;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

#logo {
  float: left;
  margin: 20px auto 0;
  a {
    color: $open;
    display: inline-block;
    font-family: $accentFont;
    font-size: 40px;
    &:after {
      -ms-transform: rotate(-7deg); /* IE 9 */
      -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
      color: $closed;
      content: '\'16';
      font-family: $headerFont;
      font-size: 0.5em;
      letter-spacing: -2px;
      line-height: 1;
      padding-top: 7px;
      position: absolute;
      transform: rotate(-7deg);
    }
  }
}



/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
  background-color: $light-gray;
  border: 2px solid $meta-gray;
  border-width: 2px 0;
  clear: both;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  @include transition(all 0.3s ease-in-out);
  &.expanded {
    max-height: 600px;
    opacity: 1;
  }

  li {

    a {
      padding-left: 10px;
      text-decoration: none;

      /*
      remember this is for mobile ONLY, so there's no need
      to even declare hover styles here, you can do it in
      the style.scss file where it's relevant. We want to
      keep this file as small as possible!
      */
      &:hover, &:focus {
        text-decoration: none;
      }
    }

    &:first-child {}

    &:last-child {}

    /*
    so you really have to rethink your dropdowns for mobile.
    you don't want to have it expand too much because the
    screen is so small. How you manage your menu should
    depend on the project. Here's some great info on it:
    http://www.alistapart.com/articles/organizing-mobile/
    */
    ul.sub-menu,
    ul.children {

      li {

        a {
          padding-left: 20px;

          &:hover,
          &:focus {}

          &:link {}

        }

        &:first-child {}

        &:last-child {}

      }

    }

  } /* end .menu li */

  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current_page_ancestor {

    a {}

  }  /* end current highlighters */

} /* end .nav */

.nav-toggle {
  background-color: $light-gray;
  border: 1px solid $gray;
  border-radius: 3px;
  display: block;
  float: right;
  margin-top: 30px;
  padding: 8px 5px;
  width: 35px;
  &:hover {
    background-color: $gray;
  }
  span {
    background-color: $meta-gray;
    border-radius: 2px;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    overflow: hidden;
    text-indent: -999em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {

}

    .hentry {
      // background-color: $white;
      border-radius: 3px;
      margin-bottom: 1.5em;
      // border: 1px solid $border-color;

      header {
        // border-bottom: 1px solid $light-gray;
        // padding: 1.5em;
      }

      footer {
        border-top: 1px solid $light-gray;
        padding: 1.5em;

        p {
          margin: 0;
        }
      }

    } /* end .hentry */

    .single-title,
    .page-title,
    .entry-title {
      margin: 0;
    }

    .single-title {}

    .page-title {}

    .entry-title {}

    .archive-title {}

    /* want to style individual post classes? Booya! */
    .post-id {}         /* post by id (i.e. post-3) */
    .post {}            /* general post style */
    .page {}            /* general article on a page style */
    .attachment {}      /* general style on an attatchment */
    .sticky {}          /* sticky post style */
    .hentry {}          /* hentry class */
    .category-slug {}   /* style by category (i.e. category-videos) */
    .tag-slug {}        /* style by tag (i.e. tag-news) */

    /* post meta */
    .byline {
      color: $meta-gray;
      font-style: italic;
      margin: 0;

      time {}
    }

    /* entry content */
    .entry-content {
      padding: 1.5em 1.5em 0;

      p {
        margin: 0 0 1.5em;
      }


      ul, ol, table, dl {}

      ul, ol {

        li {}

      }

      ul {

        li {}

      }

      ol {
        list-style-type: decimal;
        li {
          padding: 5px 0;
        }

      }

      table {
        border: 1px solid $gray;
        margin-bottom: 1.5em;
        width: 100%;

        caption {
          color: $meta-gray;
          font-size: 0.75em;
          letter-spacing: 1px;
          margin: 0 0 7px;
          text-transform: uppercase;
        }
      }

      tr {
        border-bottom: 1px solid $gray;

        &:nth-child(even) {
          background-color: $light-gray;
        }
      }

      td {
        border-right: 1px solid $gray;
        padding: 7px;

        &:last-child {
          border-right: 0;
        }
      }

      th {
        background-color: $light-gray;
        border-bottom: 1px solid $gray;
        border-right: 1px solid $gray;

        &:last-child {
          border-right: 0;
        }
      }

      blockquote {
        border-left: 3px solid $blue;
        color: $meta-gray;
        font-style: italic;
        margin: 0 0 1.5em 0.75em;
        padding: 0 0 0 0.75em;

        &:before {}

      }

      dl {}

      dt {}

      dd {
        color: #787878;
        font-size: 0.9em;
        margin-bottom: 1.5em;
        margin-left: 0;
      }

      img {
        height: auto;
        margin: 0 0 1.5em 0;
      }

      /*
      image alignment on a screen this size may be
      a bit difficult. It's set to start aligning
      and floating images at the next breakpoint,
      but it's up to you. Feel free to change it up.
      */
      .alignleft, img.alignleft {}
      .alignright, img.alignright {}
      .aligncenter, img.aligncenter {}

      .size-auto,
      .size-full,
      .size-large,
      .size-medium,
      .size-thumbnail {
        height: auto;
        max-width: 100%;
      }

      pre {
        background: $black;
        border-radius: 3px;
        color: $light-gray;
        font-size: 0.9em;
        margin: 0 0 1.5em;
        padding: 1.5em;
      }

    } /* end .entry-content */

    .wp-caption {
      background: #eee;
      max-width: 100%;
      padding: 5px;

      /* images inside wp-caption */
      img {
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
      }

      p.wp-caption-text {
        font-size: 0.85em;
        margin: 4px 0 7px;
        text-align: center;
      }

    } /* end .wp-caption */

    /* image gallery styles */
    .gallery {

      dl {

        a {}

        img {}

      }

      dt {}

      dd {}

    } /* end .gallery */

    /* gallery caption styles */
    .gallery-caption {}

    .size-full {}
    .size-large {}
    .size-medium {}
    .size-thumbnail {}

  // the tag output
  .tags {
    margin: 0;
  }


  .content-wrapper {
    background-color: $white;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #7E8A9B;
    font-size: 13px;
    font-style: italic;
    padding: 10px;
  }

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
  margin: 1.5em 0;
}
  .pagination{
    text-align: center;

    ul {
      background-color: $white;
      border-radius: 3px;
      clear: both;
      display: inline-block;
      padding: 0;
      white-space: nowrap;
    }

    li {
      border-right: 1px solid $gray;
      display: inline;
      float: left;
      margin: 0;
      overflow: hidden;
      padding: 0;
    }

    a, span {
      color: $blue;
      display: block;
      font-size: 1em;
      font-weight: normal;
      line-height: 1em;
      margin: 0;
      min-width: 1em;
      padding: 0.75em;
      padding: 0;
      text-decoration: none;

      &:hover, &:focus {
        background-color: $blue;
        color: $white;
      }
    }

    .current{
      color: $text-color;
      cursor: default;

      &:hover, &:focus {
        background-color: $white;
        color: $text-color;
      }
    }

  } /* end .bones_page_navi */

  /* fallback previous & next links */
  .wp-prev-next {

    ul {}

    .prev-link {
      float: left;
    }

    .next-link {
      float: right;
    }

  } /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

.comments, .comment-respond {
  background-color: $white;
  border-radius: 2px;
  border: 1px solid #e1e8ed;
  color: #1c2022;
  font-family: $sans-serif;
  font-size: 14px;
  margin-top: 60px;
  padding: 20px 120px 20px 20px;
}

/* h3 comment title */
#comments-title {
  border-top: 1px solid $light-gray;
  margin: 0;
  padding: 0.75em;

  /* number of comments span */
  span {}

}

.comment-nav {

  ul {

    li {}

  }
}


.commentlist {
  list-style-type: none;
  margin: 0;
}

.comment {
  border-bottom: 1px solid $light-gray;
  clear: both;
  overflow: hidden;
  padding: 1.5em;
  position: relative;

  .comment-author {
    border: 0;
    padding: 7px;
  }

  /* vcard */
  .vcard {
    margin-left: 50px;

    cite.fn {
      font-style: normal;
      font-weight: 700;

      a.url {}

    }

    time {
      display: block;
      font-size: 0.9em;
      font-style: italic;

      a {
        color: $meta-gray;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

    .photo {}

    .avatar {
      border-radius: 50%;
      left: 16px;
      position: absolute;
    }

  } /* end .commentlist .vcard */

  &:last-child {
    margin-bottom: 0;
  }

  .children {
    margin: 0;

    li {}

      /* variations */
      .comment {}
      .alt {}
      .odd {}
      .even {}
      .depth-1 {}           /* change number for different depth */
      .byuser {}
      .bypostauthor {}
      .comment-author-admin {}

  } /* end children */


  &[class*=depth-] {
    margin-top: 1.1em;
  }

  &.depth-1 {
    margin-left: 0;
    margin-top: 0;
  }

  &:not(.depth-1) {
    margin-left: 7px;
    margin-top: 0;
    padding: 7px;
  }

  &.depth-2 {}
  &.depth-3 {}
  &.depth-4 {}
  &.depth-5 {}

  /* general comment classes */
  &.alt {}
  &.odd {
    background-color: $white;
  }
  &.even {
    background: $light-gray;
  }
  &.parent {}
  &.comment {}
  &.children {}
  &.pingback {}
  &.bypostauthor {}
  &.comment-author {}
  &.comment-author-admin {}
  &.thread-alt {}
  &.thread-odd {}
  &.thread-even {}
}




  /* comment meta */
  .comment-meta {

    a {}

  }

  .commentmetadata {

    a {}

  }

  /* comment content */
  .comment_content {

    p {
      font-size: 1em;
      line-height: 1.5em;
      margin: 0.7335em 0 1.5em;
    }

  } /* end .commentlist .comment_content */

  /* comment reply link */
  .comment-reply-link {
    @extend .blue-btn;
    float: right;
    font-size: 0.9em;

    &:hover,
    &:focus {
    }

  } /* end .commentlist .comment-reply-link */

  /* edit comment link */
  .comment-edit-link {
    font-size: 0.9em;
    font-style: italic;
    margin: 0 7px;
    text-decoration: none;
  }



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
  @extend .cf;
  border-top: 1px solid $light-gray;
  padding: 1.5em;
}

  #reply-title {
    margin: 0;
  }

  .logged-in-as {
    color: $meta-gray;
    font-style: italic;
    margin: 0;

    a {
      color: $text-color;
    }
  }

  .comment-form-comment {
    margin: 1.5em 0 0.75em;
  }

  .form-allowed-tags {
    background-color: $light-gray;
    font-size: 0.9em;
    padding: 1.5em;
  }

  /* comment submit button */
  #submit {
    @extend .blue-btn;
    float: right;
    font-size: 1em;
  }

  /* comment form title */
  #comment-form-title {
    margin: 0 0 1.1em;
  }

  /* cancel comment reply link */
  #cancel-comment-reply {
    a {}
  }

  /* logged in comments */
  .comments-logged-in-as {}

  /* allowed tags */
  #allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
  }

  /* no comments */
  .nocomments {
    margin: 0 20px 1.1em;
  }

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

  .widgettitle {}

  .widget {

    ul {

      li {

        &:first-child {}

        &:last-child {}

        a {}

        /* deep nesting */
        ul {}

      }

    }

  }

  .no-widgets {
    background-color: $white;
    border-radius: 2px;
    border: 1px solid $border-color;
    margin-bottom: 1.5em;
    padding: 1.5em;
    text-align: center;
  }

/*********************
FOOTER STYLES
*********************/

.footer {
  clear: both;
  color: $black;
  padding-bottom: 40px;
  text-align: center;

  .note {
    color: $meta-gray;
    font-size: 11px;
    text-align: center;
  }
  .paid-for {
    border: 1px solid;
    display: inline-block;
    font-size: 18px;
    margin:  10px 0 3px;
    padding: 0 10px;
    text-transform: uppercase;
  }
  .jk {
    color: $light-blue;
    font-family: $headerFont;
    font-size: 19px;
    margin: 0;
  }
  .disclaimer {
    color: $meta-gray;
    padding: 0 15px;
  }
  .copyright {
    font-family: $headerFont;
    font-size: 21px;
  }
}

.notice {
  border-left: 3px solid rgba(50, 57, 68, 0.2);
  color: #D42C2C;
  font-family: $sans-serif;
  font-size: 13px;
  padding: 0 10px;
  @media (min-width: 768px) and (max-width: 1029px) {
    font-size: 11px;
  }
  em {
    color: #868686;
    display: block;
    font-size: 0.9em;
    font-style: initial;
  }
  a {
    color: #3759C7;
  }
}


.vote-info {
  clear: both;
  h1, h2 {
    font-family: $accentFont;
  }
  .entry-content {
    padding: 0;
  }
  .choose-state-header {
    clear: both;
    margin: 0;
    padding: 20px 0 10px;
    text-align: center;
  }
  h2 {
    font-size: 2.8em;
    margin: 0;
  }

  .legend {
    margin: 5px auto;
    max-width: 760px;
    li {
      cursor: pointer;
      display: inline-block;
      font-family: $headerFont;
      font-size: 20px;
      margin: 5px 10px;
      opacity: 0;
      padding-left: 25px;
      position: relative;
      &:after {
        background-color: $open;
        border-radius: 50%;
        content: '';
        height: 20px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
      }
    }
    .closed {
      &:after {
        background-color: $closed;
      }
    }
    .other {
      &:after {
        background-color: $other;
      }
    }
    .open-caucus {
      &:after {
        background-color: $caucus-open;
      }
    }
    .closed-caucus {
      &:after {
        background-color: $caucus-closed;
      }
    }
  }

  .article-header {
    margin: 30px auto;
    max-width: 800px;
    h1 {
      text-align: center;
    }
  }

  .state {
    color: $black;
    overflow: hidden;
    position: relative;
    h3, strong, .advice a {
      font-weight: 700;
      text-decoration: none;
    }
    h3 {
      display: inline-block;
      font-size: 40px;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      a {
        color: $black;
      }
    }
    .svg {
      height: 30px;
      margin: 0;
    }
    p {
      margin: 5px 0;
    }
    .exp {
      font-size: 16px;
      font-style: italic;
      line-height: 1;
    }

    .state-wrapper {
      margin: 15px auto 60px;
      padding: 15px 0;
    }

    &.active {
      background-color: white(0.7);
      border: 5px solid $open;
      border-width: 5px 0;
      .sign-up-notice {
        background: none;
        border: none;
      }
    }
    .state-title {
      text-align: center;
    }
    .st {
      text-align: center;
    }
    .action-info {
      font-family: $headerFont;
      margin-top: 30px;
      text-align: center;
      p {
        line-height: 1.3;
        margin: 0 0 10px;
      }
    }

    .resources {
      font-size: 0.8em;
      margin-top: 30px;
      padding: 0;
      text-align: center;
      h4 {
        font-size: 1.5em;
        font-weight: normal;
        margin: 10px 0 0;
      }
      ul {
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 1.1em;
      }
    }

    .extra {
      color: $black;
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
      strong {
        background-color: $light-blue;
        border-radius: 2px;
        color: $white;
        padding: 1px 3px;
      }
    }

    .callout {
      background-color: $white;
      padding: 10px 20px;
    }
    .wr {
      padding: 0;
      .action-info {
        p {
          font-size: 30px;
          margin-bottom: 0;
        }
        .ui-btn {
          margin-top: 5px;
        }
      }
    }

    &.open {
      .svg {
        fill: $open;
      }
      .ui-btn {
        background-color: $open;
        &:hover {
          background-color: darken($open, 10%);
        }
      }
      &.active {
        border-color: $open;
      }
    }
    &.closed {
      .svg {
        fill: $closed;
      }
      .ui-btn {
        background-color: $closed;
        &:hover {
          background-color: darken($closed, 10%);
        }
      }
      &.active {
        border-color: $closed;
      }
    }
    &.other {
      .svg {
        fill: $other;
      }
      .ui-btn {
        background-color: $other;
        font-size: 19px;
        &:hover {
          background-color: darken($other, 10%);
        }
      }
      &.active {
        border-color: $other;
      }
    }
    &.open-caucus {
      .svg {
        fill: $caucus-open;
      }
      .ui-btn {
        background-color: $caucus-open;
        &:hover {
          background-color: darken($caucus-open, 10%);
        }
      }
      &.active {
        border-color: $caucus-open;
      }
    }
    &.closed-caucus {
      .svg {
        fill: $caucus-closed;
      }
      .ui-btn {
        background-color: $caucus-closed;
        &:hover {
          background-color: darken($caucus-closed, 10%);
        }
      }
      &.active {
        border-color: $caucus-closed;
      }
    }
  }

  .sign-up-notice {
    padding: 10px;
    text-align: center;
    p {
      font-size: 12px;
      &.tentative {
        font-weight: 700;
        line-height: 1;
      }
    }
  }
}

// Map
#vmap {
  max-height: 250px;
  width: 100%;
  .jqvmap-region {
    opacity: 0;
  }
}
.jqvmap-label {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid $black;
  color: $black;
}
// Tweets

.twitter-share {

  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  background-color: $white;
  border: 1px solid #e1e8ed;
  border-radius: 2px;
  color: #1c2022;
  display: block;
  font-family: $sans-serif;
  font-size: 14px;
  margin: 10px 10px 10px 0;
  max-width: 500px;
  padding: 20px 120px 20px 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: all 1s ease;

  span {
    color: #2b7bb9;
  }
  em {
    background: $white url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAxUlEQVQ4y2NgGDQgdM07Xjxy4UC8AYh3AHEYELMBsTOyAnUgPgfEQlg0JwHxfzT8DogLgVgApsgKKvEQiL3QDLiExYB/QDwZWREnED9HUnASiEuB2AWIX2Mx4D26M3WAeCUWhbjwTXQDBIH4CwkGLMYW0gEgpxFpQDA2A0SA+BgRmm8AMROu+E4H4m94NP8GxRihBGWLI+R/AXE0Lk0GQNwFxPuA+C8WzZdBBhOyWReIG4B4ExAfB+KdQDwViH2BmJlh0AIAtWxZmS9nAq8AAAAASUVORK5CYII=) no-repeat 8px 7px;
    border: 1px solid #55acee;
    border-radius: 2px;
    color: #55acee;
    display: block;
    font-style: normal;
    font-weight: 700;
    padding: 5px 5px 5px 25px;
    position: absolute;
    right: 10px;
    top: 20px;
  }
  &:visited {
    color: #1c2022;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: #ccd6dd;
    color: #2b7bb9;
    em {
      background-color: #55acee;
      background-image: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAApElEQVQoFa3BMQsBcQDG4TdKGRTyHSyU+eomJqWUYrBZzAa72SqfwGSTicVIFgMLo8mgWGQgfjr8c7jxnkfyBRG5UGHAiDIhsnKQZEFcb9QwDjSISsICtuT1xBLjTkcOwuxwzGmSY49x1Asp+njZ6IUYJ7z0ZFDkyL+SDBJM+bUmoA/qnHG7YukbNnuMC1V9kKHNhBvGClvfSNNiyIwxXQoE5asH48vhikEhmgQAAAAASUVORK5CYII=);
      color: $white;
    }
  }
}

/* Debate Page */

.debate-page {
  .intro-text {
    border: 1px solid;
    margin: 60px auto;
    max-width: 650px;
    padding: 0 20px;
  }
  .section {
    h2 {
      display: inline-block;
      font-size: 30px;
      margin: 0;
      position: relative;
      z-index: 2;
      span {
        position: relative;
        z-index: 2;
      }
    }
    p {
      margin: 10px 0;
    }
    .sample {
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: 2px;
      color: #7E8A9B;
      font-size: 13px;
      font-style: italic;
      padding: 10px;
      position: relative;
      &:after {
        background-color: #ccc;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        color: $white;
        content: 'example';
        font-style: normal;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .spread-word {
    #crestashareiconincontent {
      display: inline-block;
      margin: 0;
      vertical-align: top;
    }
  }

  .stay-involved {
    clear: both;
    h2 {
      text-align: center;
    }
  }

}

.first-steps {
  list-style-position: inside;
  list-style-type: decimal;
  margin: 0 auto;
  max-width: 600px;
  padding: 0;
  text-align: left;
}

.coming-event {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  margin: 10px auto;
  max-width: 650px;
  padding: 10px;
  h2 {
    font-size: 50px;
    margin: 0;
  }
}


// Cresta Share Styles

.cresta-share-icon {
  .cresta-the-total-count {
    font-size: 12px;
    width: 40px;
  }
}
.cresta-the-count {
  pointer-events: none;
}
/* Better responsive mode */
@media (max-width: 767px) {
  #crestashareicon {
    background-color: rgba(255, 255, 255, 0.82);
    bottom: 0;
    float: none !important;
    left: 0;
    padding-top: 5px;
    right: 0 !important;
    text-align: left;
    top: auto !important;
    .sbutton {
      display: inline-block !important;
      float: none !important;
      margin: 0 2px;
    }
    .fb-like {
      left: auto;
      right: 65px;
      top: 15px;
    }
  }
}

/* Contact Forms */
.wpcf7 {
  input {
    max-width: none;
  }
  .wpcf7-submit {
    background-color: $blue;
    border: 0;
    color: $white;
    font-family: $headerFont;
    font-size: 30px;
    padding: 5px 0;
    text-transform: uppercase;
    transition: background-color 1s ease;
    width: 100%;
    &:hover {
      background-color: lighten($blue, 10%);
    }
  }
  p {
    margin: 0;
  }
  .ajax-loader {
    position: absolute;
  }
}

.one-percent-here-i-come {
  margin: 15px auto 0;
}

// Map Intro
.map-intro {
  font-family: $headerFont;
  line-height: 1;
  position: relative;
  text-align: center;
  z-index: 3;
  .explanations {
    color: $white;
    margin: 0;
    position: relative;
    li {
      background-color: $closed;
      border-radius: 10px;
      display: inline-block;
      font-size: 17px;
      left: 0;
      opacity: 0;
      padding: 5px 15px;
      position: absolute;
      right: 0;
      top: 0;
      &.active {
        opacity: 1;
        position: inherit;
      }
      &.open {
        background-color: $open;
      }
      &.other {
        background-color: $other;
        color: $black;
      }
      &.open-caucus {
        background-color: $caucus-open;
        color: $black;
      }
      &.closed-caucus {
        background-color: $caucus-closed;
      }
    }
  }
  p {
    margin: 5px 0 0;
  }
  .inner-content {
    margin: 0 auto;
    opacity: 0;
  }
  .state-select {
    text-align: center;
    p {
      margin: 0;
    }
  }
  select {
    background-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAMAAAAmGUT3AAAALVBMVEUBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQGZM2FOAAAAD3RSTlMADxAUFRwfJCuZqKmrrMTqLQAAAAAALklEQVR42kXFSRIAEAwAwRFkQfz/uapy0Zfmi1GNYKYAciboabRUAFt9G8WvAw8QwgCtfrBP9wAAAABJRU5ErkJggg==');
    border: 2px dashed;
    border-radius: 0;
    border-width: 0 0 2px;
    display: inline-block;
    font-size: 13px;
    height: 25px;
    margin: 0;
    max-width: 128px;
    padding: 0;
  }
}

.to-map {
  bottom: -45px;
  position: fixed;
  right: 10px;
  z-index: 999;
  @include transition(all 0.3s ease-in-out);
  &.show {
    bottom: 0;
    a {
      padding-bottom: 15px;
    }
  }
  a {
    background: url(images/elements/map-icon.png) no-repeat 50% 10px;
    box-sizing: content-box;
    display: inline-block;
    height: 26px;
    outline: none;
    text-indent: -999em;
    width: 41px;
    @include transition(all 0.14s ease-in-out);
    &:after {
      border-color: transparent transparent $blue;
      border-style: solid;
      border-width: 0 10.5px 10px;
      content: '';
      height: 0;
      left: 10px;
      position: absolute;
      right: 0;
      top: -1px;
      width: 0;
      z-index: -1;
      @include transition(all 0.14s ease-in-out);
    }
    &:hover {
      padding-bottom: 18px;
      &:after {
        top: -5px;
      }
    }

  }
}


// State Pages

.state-header {
  position: relative;
  h2 {
    font-size: 35px;
    margin: 30px auto 0;
    max-width: 90%;
  }
  span {
    color: $red;
    display: block;
    font-family: $headerFont;
  }
  .state-name {
    color: $blue;
    font-family: $accentFont;
    font-size: 40px;
    font-weight: normal;
    line-height: 0.9;
    // text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -2px -2px 1px rgb(255,255,255) , -1px -1px 1px rgb(255,255,255) , 1px 1px 1px rgba(232,247,255,0.901961) , 2px 3px 1px rgba(28,67,103,0.498039) , 5px 5px 12px rgba(5,13,20,0.498039);
    text-transform: uppercase;
    transition: text-shadow 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, color 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
    &.done {
      color: $white;
      text-shadow: -1px -1px 0 rgb(5, 113, 176), -1px -1px 1px rgb(5, 113, 176) , 1px 1px 1px rgb(5, 113, 176), 1px 1px 0 rgb(42, 101, 139), 2px 2px 0 rgb(41, 99, 138) , 3px 3px 0 rgb(40, 97, 136), 4px 4px 0 rgb(39, 95, 133), 5px 5px 0 rgb(38, 93, 131), 6px 6px 0 rgb(37, 90, 128), 7px 7px 0 rgb(36, 87, 125), 8px 8px 0 rgb(35, 84, 121), 9px 9px 0 rgb(33, 80, 117), 10px 10px 0 rgb(31, 76, 113), 11px 11px 0 rgb(30, 72, 108), 12px 12px 1px rgba(28, 67, 103, 0.5), 14px 14px 12px rgba(5, 13, 20, 0.5);
    }
  }
  .svg {
    -webkit-filter: drop-shadow( 3px 3px 0 rgba(0, 0, 0, 0.2) );
    fill: $light-blue;
    filter: drop-shadow( 3px 3px 0 rgba(0, 0, 0, 0.2) );
    height: 100%;
    max-width: 100%;
    opacity: 0.3;
    position: absolute;
    right: 0;
    stroke: $white;
    top: 0;
    transition: height 0.5s ease;
    z-index: -1;
  }
  &.done {
    .svg {
      height: 150%;
    }
  }
}

.state-page {
  clear: both;
  max-width: 900px;
  overflow: hidden;
  .not-state {
    font-family: $headerFont;
    font-size: 17px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    z-index: 1;
    a {
      color: $meta-gray;
      text-decoration: none;
    }
    span {
      color: $blue;
      display: inline-block;
      padding-left: 45px;
      position: relative;
      &:hover {
        color: darken($blue, 10%);
      }
      &:after {
        background: url(images/elements/map-icon.png) no-repeat 0 0;
        box-sizing: content-box;
        content: '';
        display: inline-block;
        height: 26px;
        left: 0;
        outline: none;
        position: absolute;
        top: 0;
        width: 41px;
      }
    }
  }
  .share {
    background-color: white(0.7);
    border: 5px solid $gray;
    border-width: 5px 0;
    padding: 10px;
    text-align: center;
    h3 {
      font-size: 70px;
    }
    blockquote {
      font-family: $accentFont;
      font-size: 40px;
      line-height: 1;
      margin: 0;
    }
  }

  .state-info {
    .ui-btn {
      margin: 0 0 10px;
      background-color: $blue;
      &:hover {
        background-color: darken($blue, 10%);
      }
    }
    h3 {
      font-size: 37px;
      line-height: 1;
      margin: 15px 0 0;
    }
    h4 {
      font-family: $headerFont;
      font-size: 25px;
      margin: 20px 0 10px;
      text-decoration: underline;
      text-transform: uppercase;
    }

    p {
      margin: 0 0 10px;
    }
    .newsletter {
      background-color: white(0.7);
      border: 5px solid $gray;
      border-width: 5px 0;
      padding: 20px 0;
      text-align: center;
      > p:first-child {
        color: $red;
        font-family: $headerFont;
        font-size: 21px;
        line-height: 1;
        margin: 5px 0;
      }
    }
  }
  .vote-content {
    padding: 10px 5px;
  }
  .info-wrapper {
    margin: 30px 0;
    text-align: center;
    h3 {
      font-family: $headerFont;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      margin-top: 10px;
      text-align: center;
      strong {
        display: block;
      }
    }
  }
  .type {
    text-align: center;
    .status-info {
      font-family: $headerFont;
      font-size: 16px;
      line-height: 1.2;
      margin: 50px 0 0;
    }
    .meaning {
      background-color: $red;
      border-radius: 5px;
      color: $white;
      font-size: 16px;
      line-height: 1.2;
      padding: 5px;
    }
  }
  .status-info {
     strong {
      font-weight: 800;
      position: relative;
      &:before {
        background-color: $red;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        font-family: $accentFont;
        font-size: 37px;
        font-weight: normal;
        left: 0;
        line-height: 1.1;
        margin: 0 auto;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: all 1s ease;
        width: 40px;
      }
      &.done {
        &:before {
          opacity: 1;
          top: -30px;
        }
      }
    }
  }
  .when {
    text-align: center;
    .date {
      // width: auto;
    }
  }

  // Ad Units
  .leader {
    margin: 0 auto;
    max-width: 100%;
    min-height: 90px;
    overflow: hidden;
    padding: 10px 0;
    width: 728px;
  }

  .gaunit {
    margin-top: 30px;
  }


 .action {
  text-align: center;
 }
}

//

.state-info {
  .info {
    border-radius: 5px;
    border-style: solid;
    border-width: 0 2px;
    color: $white;
    display: inline-block;
    margin: 0;
    padding: 0 3px;
    text-align: center;
  }
  .ui-btn {
    @extend %btn;
    margin: 20px 0 5px;
  }
  .date {
    background-color: white(0.5);
    border: 4px solid;
    border-radius: 5px;
    border-width: 3px 1px;
    color: $black;
    display: block;
    font-weight: bold;
    line-height: 1;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    span, strong, em {
      display: block;
    }
    strong {
      font-size: 16px;
      padding: 3px 0;
    }
    span {
      font-family: $accentFont;
      font-size: 60px;
      font-weight: normal;
      line-height: 54px;
    }
    em {
      font-size: 11px;
      font-style: normal;
    }

  }


  // Color each differently
  &.open {
    .c-t {
      color: $open;
    }
    .c-b {
      background-color: $open;
    }
    .c-bb {
      &:before {
        content: initial;
      }
    }
  }
  &.closed {
    .c-t {
      color: $closed;
    }
    .c-b {
      background-color: $closed;
    }
    .c-bb {
      &:before {
        background-color: $closed;
        content: '!';
      }
    }
  }
  &.other {
    .c-t {
      color: $other;
    }
    .c-b, {
      background-color: $other;
    }
    .c-bb {
      &:before {
        background-color: $other;
        content: '!';
      }
    }
  }
  &.open-caucus {
    .c-t {
      color: $caucus-open;
    }
    .c-b {
      background-color: $caucus-open;
    }
    .c-bb {
      &:before {
        content: initial;
      }
    }
  }
  &.closed-caucus {
    .c-t {
      color: $caucus-closed;
    }
    .c-b {
      background-color: $caucus-closed;
    }
    .c-bb {
      &:before {
        background-color: $caucus-closed;
        content: '!';
      }
    }
  }
}
@media (max-width: 480px) {
  // Bigtext sucks at responsive, unfortunately.
  .bigtext {
    span {
      font-size: inherit!important;
      line-height: 1;
      text-align: center;
      white-space: inherit;
      word-spacing: inherit!important;
    }
  }
}
